
/* NavBar CSS Style */

/* Using flex property to make NavBar */
nav .allnavbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    gap: 1rem;
    padding: 0.5rem 4rem;
}
nav .allnavbar .leftnav,
nav .allnavbar .rightnav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

/* left Side of NavBar  */
 .leftnav{
    padding-left: 5rem;
    display: flex;
    gap: 0.6rem;
}

 .logo i{
    font-size: 2.5rem;
    cursor: pointer;
    color: #0a66ca;
}

 .leftnav .search{
    background: rgb(230, 238, 240);
    width: 100%;
    padding: 0.5rem 0.8rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 0.2rem;
}

 .leftnav .search input[type='search']{
    background: transparent;
    border: none;
    width: 14rem;
    
}

 .leftnav .search input[type='search']::placeholder{
    font-size: 0.9rem;
    font-weight: 100;
    color: rgb(49, 49, 49);
}

 .leftnav .search i{
    font-size: 0.95rem;
    color: var(--theme-color);
}

/* Right Side of NavBar */

 .rightnav{
    padding-right: 5rem;
    display: flex;
    gap: 1.8rem;
}

 .rig
 .rightnav .network i,
 .rightnav .jobs i,
 .rightnav .messaging i,
 .rightnav .notification i{
    font-size: 1.3rem;
    
}

 .rightnav .home ,
 .rightnav .network ,
 .rightnav .jobs ,
 .rightnav .messaging ,
 .rightnav .notification,
 .rightnav .me{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
}

 .network ,
 .jobs ,
 .messaging ,
 .notification,
 .me i:first-child{
    color: var(--theme-color);   
}

 .home ,
 .network:hover ,
 .jobs:hover ,
 .messaging:hover ,
 .notification:hover,
 .me .down:hover {
    color: black;
}

.notification{
    border-right: 1px solid rgb(52, 49, 49);
    padding-right: 1rem;
}

.rightnav .me .down{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--theme-color);
}

.rightnav .me i:first-child{
    background: var(--theme-color);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    font-size: 1rem;
}

.allnavbar a{
        text-decoration: none;
        font-size: 0.76rem;
        width: 8rem;
        text-align: center;
        cursor: pointer;
        color: #000;
}

.allnavbar a:hover{
    text-decoration: underline;
}

/* Nav Bar End here */