@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Declaring The variables for Website theme Color */
:root{
    --hover-color:rgb(227, 224, 224);
    --theme-color:gray;
}

/* Initial Structure of Html */

*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif,'Poppins';
}

body{
    background: rgb(235, 235, 235);
}

